*{
    font-family: Arial;
    margin: 0;
}

div{
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.img-logo{
    width: 200px;
}

a{
    margin: 0 10px;
    color: #542f0c;
    font-size: 20px;
}

.sobre{
    border-top: 1px solid #de8e37;
}

.sobre h1{
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

.sobre h2{
    font-weight: normal;
    color: #de8e37;
    margin-top: 10px;
}

.img-banner{
    width: 700px;
}

.produtos img{
    width: 500px;
}

.produtos h2{
    margin-top: 15px;
}

.produtos{
    background-color: #de8e37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

span{
    font-weight: bold;
}

p{
    font-size: 20px;
    margin-top: 15px;
}

.paragrafo{
    line-height: 30px;
}

img{
    margin-top: 15px;
}


